{% extends "layout.html" %}

{% block title %}
    About This
{% endblock %}

{% block main %}
    <h1>
        About
    </h1>
    <div class="center pad_para pad_side">
        <p>
            Hi there. Thank you for coming here. My name is <span class="highlight">Udayveer Singh Manshahia</span> and I created this Python app <span class="highlight">InDebitO</span> as my CS50x 2020 final project.
        </p>
        <p class="pad_para">
            For inspiration, my dad always wanted a best app/website to note down his transactions but most of the apps available on <span class="highlight">Play Store</span> are not free and hence he has to cut on some features.
        </p>
        <p class="pad_para">
            I plan to continue <span class="highlight">InDebito</span> and integrate more advance features in upcoming future. Furthermore, access the whole source on <a href="https://github.com/imudayveer/imudayveer" class="link">GitHub</a> soon in order to keep track on progress and help beginners in <span class="highlight">Web App Development</span>.
        </p>
        <p class="pad_para">
            Just a few weeks ago, I started CS50 course to expand my knowledge about computers. Starting from Scratch, then struck in C loops, understanding various types of algorithm and data structure, getting away from segmentation fault and memory leaks. And finallly paving the way to learn AI, aka Python with some little knowledge on where and how data is stored. I finally improved myself from the time when I started CS50. Last but not the least, The Final Project.
        </p>
        <p>
            I took Java but honestly speaking, I found out staff created it way more difficult than expected and hence here I am, learning HTML, CSS, JS. 
        </p>
        <p>
            A great thanks to <a href="https://cs.harvard.edu/malan" class="link">David J. Malan</a> for such good explanation, <a href="http://www.douglloyd.com/" class="link">Doug Lloyd</a> for so good and detailed shorts and <span class="highlight" class="link">Brian Paul Yu</span>(He deserves a special page in <a href="https://cs50.harvard.edu/summer/2020/staff/" class="link">CS50 Staff</a> Page) for helping in Problem Sets and Web Track.
        </p>
    </div>

    <h2 class="about">
        Credits
    </h2>
    <div class="center pad pad_side">
        <p>
            Responsive Navigation Bar: <a href="https://www.youtube.com/c/FollowAndrew" class="link">FollowAndrew</a>
        </p>
        <p style="padding-bottom: 90px;">
            Beautiful HTML Element CSS Code: <a href="https://www.instagram.com/luisdanielroviracontreras" class="link">Luis Daniel Rovira Contreras</a> 
        </p>
    </div>
{% endblock %}