{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1>
        Change Password
    </h1>
    <form action="/changepassword" method="post">
        <div class="center pad">
            <input name="old_pwd" class="input" placeholder="Old Password" type="password">
        </div>
        <div class="center pad">
            <input name="new_pwd" class="input" placeholder="New Password" type="password">
        </div>
        <div class="center pad">
            <input name="new_pwd_con" class="input" placeholder="New Password (Again)" type="password">
        </div>
        <div class="center pad">
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
{% endblock %}