{% extends "layout.html" %}

{% block title %}
    Expense
{% endblock %}

{% block main %}
    <h1>
        Expense
    </h1>
    <form action="/expense" method="post">
        <div class="center pad">
            <label for="source">
                Source:
            </label>
            <select name="source" class="input">
                <option value="Account">Account</option>
                <option value="Cash">Cash</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Debit Card">Debit Card</option>
                <option value="Mobile">Mobile</option>
                <option value="Voucher">Voucher</option>
            </select>
        </div>
        <div class="center pad">
            <label for="category">
                Category:
            </label>
            <select name="category" class="input">
                <option value="Aesthetics">Aesthetics</option>
                <option value="Apparel">Apparel</option>
                <option value="Bills And Utilities">Bills And Utilities</option>
                <option value="Education">Education</option>
                <option value="Food And Beverage">Food And Beverage</option>
                <option value="Household">Household</option>
                <option value="Health And Fitness">Health And Fitness</option>
                <option value="Shopping">Shopping</option>
                <option value="Social Life">Social Life</option>
                <option value="Transportation">Transportation</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="center pad">
            <input name="s_p" class="input" placeholder="Shop or Person" type="text">
        </div>
        <div class="center pad">
            <input name="amount" class="input" placeholder="Amount (Except ₹)" type="text">
        </div>
        <div class="center pad">
            <textarea name="remarks" class="textarea" placeholder="Remarks"></textarea>
        </div>
        <div class="center pad">
            <button type="submit" class="button">Add</button>
        </div>
    </form>
{% endblock %}