{% extends "layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block main %}
    <h1>
        Search Results
    </h1>

    <table class="trans_table">
        <thead>
            <tr>
                <th>Transaction Type</th>
                <th>Source</th>
                <th>Category</th>
                <th>Shop or Person</th>
                <th>Remarks</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i in trans_db_search %}
                <tr>
                    <td>{{ i["trans_type"] }}</td>
                    <td>{{ i["source"] }}</td>
                    <td>{{ i["category"] }}</td>
                    <td>{{ i["s_p"] }}</td>
                    <td>{{ i["remarks"] }}</td>
                    <td>{{ inr(i["amount"]) }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}